<h2>About Me</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>My name is <span class="name">Houngking Hsi</span> and<br />I'm a Software Architect</h3>
<p>
    <img id="avatar" alt="avatar" class="tt" data-toggle="tooltip" data-placement="top" title="indeex" width="128" height="128" src="/assets/img/slashsBin.png" />
    我是一个 {{ site.time | date: "%Y" | minus: 1992 }} 岁的软件工程师和构架师，我喜欢漂亮的代码 <code>code</code> 并且我喜欢遵守标准和 &amp; 开放源码解决方案。 我喜欢学习 
    软件工程并且 &amp; 安全工作和开发。 我喜欢专注于企业级 教育行业 的应用程序在 所有 平台上。 作为一名  软件工程师， 
    我使用 <code>AIR</code>, 并作为 
    软件工程师的一个平台，我使用 <code>Starling</code>.  
    在我空闲的时间，我会尝试 <code>pattern</code> 这会 
    让我兴奋，O(∩_∩)O哈哈~ 
    <code>code</code> 我是一个快乐的人, 玩 <code>游戏</code> 或者 
    <code>旅行</code>, 或者安静的 <code>绘画</code> 一个充满 
    精力和 <code>使人欢乐</code> 的朋友.
</p>
