<h2>Contact Me</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<p>
    <img id="QR" width="196" height="196" src="/assets/img/QR.png" alt="My OR Code" class="tt" data-toggle="tooltip" data-placement="top" title="Houngking Hsi Contact Information QR Code" data-m="false" />
    你可以随时 <a class="eMail tt" href="http://www.google.com/recaptcha/mailhide/d?k=6Lc1ZQUTAAAAAJ8e4bAgKgklAoLK1Pd5xwGbTYla==&c=6Lc1ZQUTAAAAAMX532yIyVhpf9LUk8JEPsUnIhWI" data-toggle="tooltip" data-placement="top" title="Houngking Hsi Work eMail Address">和我取得联系</a> 讨论任何感兴趣的利益,
    任何有关我的任何项目或我的简历，更多隐私你可以通过我的
    私钥 <a href="/HoungkingHsi.asc" class="tt" data-toggle="tooltip" data-placement="top" title="Houngking Hsi Personal ASCII Armored GnuPG Key" download>My GPG Key</a> 发给我 <a class="eMail tt" href="http://www.google.com/recaptcha/mailhide/d?k=6Lc1ZQUTAAAAAJ8e4bAgKgklAoLK1Pd5xwGbTYla==&c=6Lc1ZQUTAAAAAMX532yIyVhpf9LUk8JEPsUnIhWI" data-toggle="tooltip" data-placement="top" title="Houngking Hsi Work eMail Address">eMail</a> 
    用这些。 右边是我的二维码， 可以用它来在您的移动设备上，
    保存我的联系方式。
</p>

<ul>
    <li><a id="contactMe-email" class="eMail icon tt" data-toggle="tooltip" data-placement="top" title="eMail" data-icon="mail" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="http://www.google.com/recaptcha/mailhide/d?k=6Lc1ZQUTAAAAAJ8e4bAgKgklAoLK1Pd5xwGbTYla==&c=6Lc1ZQUTAAAAAMX532yIyVhpf9LUk8JEPsUnIhWI"></a></li>
    <li><a id="contactMe-gpg" class="icon tt" data-toggle="tooltip" data-placement="top" title="Houngking Hsi Personal ASCII Armored GnuPG Key" data-icon="key" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="/HoungkingHsi.asc" download></a></li>
    <li><a id="contactMe-Houngking" class="icon tt" data-toggle="tooltip" data-placement="top" title="Personal Website" data-icon="globeAlt" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="/blog"></a></li>
    <li><a id="contactMe-skype" class="icon tt" data-toggle="tooltip" data-placement="top" title="Skype" data-icon="skype" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="callto:imisslovelove"></a></li>
    <li><a id="contactMe-telegram" class="icon tt" data-toggle="tooltip" data-placement="top" title="Telegram" data-icon="chat" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://telegram.me/imisslovelove"></a></li>
</ul>
