<h2>ASCII Armored GnuPG Key</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<p>
    For additional Privacy you can
    grab <a href="/HoungkingHsi.asc" class="tt" data-toggle="tooltip" data-placement="top" title="Houngking Hsi Personal ASCII Armored GnuPG Key" download>My GPG Key</a> and send me an <a class="eMail tt" href="http://www.google.com/recaptcha/mailhide/d?k=6Lc1ZQUTAAAAAJ8e4bAgKgklAoLK1Pd5xwGbTYla==&c=6Lc1ZQUTAAAAAMX532yIyVhpf9LUk8JEPsUnIhWI" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Work eMail Address">eMail</a> 
    using it.
</p>

<pre>
-----BEGIN PGP PRIVATE KEY BLOCK-----
Version: GnuPG v2

lQV+BFUuSpEBDACZOV8v/6x5d7meHzXVDKrHnjs9Ik/j0cUqZlxahLKC7BLJ5s/l
oDLaTeLBWNbHPLBRjVSMvhx/TRvh6F+CRiuOqTlI4GcxAxMMRP0KIGfKi+Vtielq
UORu/b0KMg1AvIqPVvRMApsMpE5+16P8ZO6FQh6Kkr+HYBvOObGbRh077BEXRY7s
Ryb2GcdcflQFhsokPono5z1hzAEDnRULc+HNhtoCvTjIV0UkFVAkDrDaSG0GG2Ho
3Y3tMalLqxwSgmaeP2rNeTNUDsJ042Ljv6zPzWV3tpi6unQw4NVj+O+trBVX5YVX
mMVC5Buk2hGg3uqq+Kj7vTdWiMIlPXqY3aflEqpRb3WqFCGDxCmD1PcrEjNBKBhU
6KvTkEqfRxzejOTjMoxMhenbdNuf4GhvIlV0rAqAIXhVe0UdMX4qw9PiVH7oy4fZ
XAYq8JBFQYyvK3grG4EYb7RQCiRVepigWHWpA/NXTibJF5n7ePDA/sQeS9nfd2NY
37zkC2FUj/Vncv8AEQEAAf4DAwJe0Jt58dG147MJY6ASbM9DM7zQudqPqDumZvsX
kE7rBqt7tfgTYhIjjNaV+UdVkPYAZjHww2w9ZknjmnrTBEAD+OIVbbjAL1kZKoC3
fhsKfGNa7cnX/zN2WKTkkzrc90Y2F/l2KCNRaVLbyPyOZ9kooNlZsEtlLSJo6FDd
ik9y18bQyxQviyua7++4rD4NX9CEacV5sZ15+Yzo6FU9RF0cEvLsU5RWfcBgM1Jf
V17wjiOk3WY2PjPqZBLvkG2nDUryLuXpmY2n8chqnj5Pbzm25aSk8wyLcu+oEEO3
W/zLj0uoEqdCQoWDo386LrD3UXiOrWpHhX09vAfTh4sl6BI552eyEh9Yy8PtzImE
GtQ+VcVdk5mpAsy6o9cXlRiAjkYX+9YHC3OnbQzJEdDbuZt/v4kVaKKnLtdlcgNR
TQuC5zUmCn+yQG96TDRxMeWxDPAfmCdb5pJZHk4GYMTVH5NxfBPf4xNZPvXqdPeC
1x2zk1s1Uc9SMd0k7ofddq8qr0MsUX4BzCyazBbIYXpGgCAzSSUhS7muSy/Qiwih
ia7mCS/NR12NLXihuu3BJ5kXr6RrTA2ilVljl8YOLiC/f8vTw6CyswkGPJ5DFC1g
0HDTbiY5jQdA8KDadbP2+Ak+teO1TvwOQLJVI8y9GyPmYWT461mVQDGRExbMC9zH
5Yxbf1rl6K186o9cnYOLr9M7BGvpYdnoEgsl5T4Ko9qKn09RRluoE+aMbwiNQFyv
1qVqdTgdsi7APjUK4EhwUgdZr2J4XyASCb0TQndjKafLO/veNTSpKkcoi+k1IxpB
3ME+pipEEQusLE3IYp8N38MiImHh8rrPYR6jubO2vl1vNhZwak1thXEbaRsi8YjU
8MduAYRRqYV8wDY3CMfdCsY1Go2EpcrgU/TnlVEignLj/dE+XnpudY/B1cfnDb2h
c6bDOeA084HD4PsdxxGuKiBtKnqeN3UPIqLqbMZ3SNMIbHDjLBlqotLeR2pkHkpY
7HbGtnzFrJlhwC6BhRknXIui+zDpF5bK2q10dm2nAK3ncWzbEkm91FL8gd3G0dH7
l5nyeSteqTR0KmIa/FID+JslusWoqbZF5hJ4z2jqrQwgOFREJMslK3b64nkQxiXJ
qJgEWeEurNk+2k1omGL85bzroBLVoIH6ycwPCO/yyzleRdwEZsLv6jSHsZyUF4Zl
9m4GsFRgAg02zY+Qobyl3vI7sGcihChN8KzzBTbpnBAFalxGsuOZqxYFIELofJjA
GIDnYRMtm360JsIedCu+Ok5zkVRfLv10cngYyKW9Cl7R2ntHB5qfvyOm0BsTQe2r
Issf2mVqXAKltxkMgyD9xAm0JkhvdW5na2luZyBIc2kgPGltaXNzbG92ZWxvdmVA
bGl2ZS5jb20+iQG/BBMBCAApBQJVLkqRAhsPBQkDw1AvBwsJCAcDAgEGFQgCCQoL
BBYCAwECHgECF4AACgkQ6PhmrHCrof/fmQwAidTLFk6qr2q/+RYQl1mWz7gfmUE+
mTWeGOzulcJqEOmce8oqJyEO/Wbrhza9dqC4MyndTqqJpn/A8eyD8qDpGrNLL0Fn
QcIcf5CfhX3+Mtlis43BxQwTNvunS2eH4hKAU1SgBOLzO/b61HpGwsatTxk18NB0
2csyr6EcjHRdwHqm/zO+C+KL9IM2pNL00hjxq9/Kk8z/iXURTimB8+VbG2gjgD4a
spwmi1stEEEuODxDgNH5XcaCl6SLW3QcQruCne1IVaFbhgmcdBbnXaP+1FfjoFeZ
tz3M+v0ps8dAcEh3EdjRBesupRjOIAK3UrY7RNVt1SALwrlBwI8XxLPYgnPshzL3
z4VLXO1RwCvsclW+qUzypG+CCmHtIfH91EReDXYUk39KRrzhnnrA8s7sWSR7ZNm2
VLPE57iPW3UsjF+LtH0CGZS7ENPyovCe+95ZXbs7uZzG1RMW5rf0toT6i7NPqdne
WceOGtapqAisygabn4MSGeJ/U/gCh1Y3sKnK
=SjWO
-----END PGP PRIVATE KEY BLOCK-----
</pre>
