<h2>What I <span class="glyphicon glyphicon-heart heart"></span>!</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>Concepts</h3>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Artificial_neural_network" class="tt" data-toggle="tooltip" data-placement="top" title="Artificial Neural Networks">Neural Networks</a> &amp; <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" class="tt" data-toggle="tooltip" data-placement="top" title="Artificial Intelligence">A.I</a></li>
    <li>制图 &amp; 软件与人的行为关系(理论)</li>
    <li>程序模式/算法</li>
    <li>数据云</li>
    <li>数据隐私安全</li>
    <li><a href="https://en.wikipedia.org/wiki/Cryptography" class="tt" data-toggle="tooltip" data-placement="top" title="密码技术">密码技术</a></li>
    <li>Mathematics: <a href="https://en.wikipedia.org/wiki/Fractal" class="tt" data-toggle="tooltip" data-placement="top" title="析释">析释</a> &amp; <a href="https://en.wikipedia.org/wiki/Geometry" class="tt" data-toggle="tooltip" data-placement="top" title="几何学">几何学</a> &amp; esp和生活， 幻数</li>
    <li><a href="https://en.wikipedia.org/wiki/Data_visualization" class="tt" data-toggle="tooltip" data-placement="top" title="可视化数据">可视化数据</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Space_science" class="tt" data-toggle="tooltip" data-placement="top" title="空间科学">空间科学</a> &amp; <a href="https://en.wikipedia.org/wiki/Astronomy" class="tt" data-toggle="tooltip" data-placement="top" title="天文学">天文学</a></li>
</ul>
