<h2>Mentorship</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>Flash</h3>
促进进步, 总会有新的 &amp; 进步 <code>Flash</code> 在移动软件方面, 从初级到高级:
<ul>
    <li>先进的前端软件 Programming &amp; 标准</li>
    <li>Adobe AIR 新功能</li>
    <li>Straling Frameworks</li>
    <li>性能优化、软件体验</li>
    <li>现代化的科技创新技术和web平台</li>
</ul>

<a href="/mentor-elePHPant/" target="_blank">更多信息</a>
