<h2>On The Net</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<p>
    我注册了大量的社交网站 &amp; web服务, 你可以在这里
    找到我, 并随时与我取得联系:
</p>

<ul>
    <li><a id="etc-linkedin" class="tt icon" data-toggle="tooltip" data-placement="top" title="LinkedIn" data-icon="linkedin" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://www.linkedin.com/in/imisslovelove" target="_blank"></a></li>
    <li><a id="etc-twitter" class="tt icon" data-toggle="tooltip" data-placement="top" title="Twitter" data-icon="twitterbird" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://twitter.com/imisslovelove" target="_blank"></a></li>
    <li><a id="etc-github" class="tt icon" data-toggle="tooltip" data-placement="top" title="GitHub" data-icon="github" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://github.com/imisslovelove" target="_blank"></a></li>
    <li><a id="etc-bitbucket" class="tt icon" data-toggle="tooltip" data-placement="top" title="BitBucket" data-icon="bucket" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://bitbucket.org/imisslovelove" target="_blank"></a></li>
    <li><a id="etc-geeklist" class="tt icon" data-toggle="tooltip" data-placement="top" title="GeekLi.st" data-icon="list" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://geekli.st/imisslovelove" target="_blank"></a></li>
    <li><a id="etc-stackexchange" class="tt icon" data-toggle="tooltip" data-placement="top" title="StackExchange" data-icon="commandline" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="http://careers.stackoverflow.com/imisslovelove" target="_blank"></a></li>
    <li><a id="etc-facebook" class="tt icon" data-toggle="tooltip" data-placement="top" title="FaceBook" data-icon="facebook" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://www.fb.me/imisslovelove" target="_blank"></a></li>
    <li><a id="etc-gplus" class="tt icon" data-toggle="tooltip" data-placement="top" title="Google+" data-icon="gplus" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://plus.google.com/u/0/100349829915200536209" target="_blank"></a></li>
</ul>
