<h2>Projects</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>Highlighted Projects</h3>
<ul>
    <li><a href="">Flash</a>: Adobe AIR for <a href="http://rayvarz.com">8dworld Co.</a>, <code>Flash, sql</code></li>
    <li><a href="https://github.com/imisslovelove" target="_blank">&tau;racker</a>: 基于标签的简单时间跟踪, <code>空间 | 行星</code></li>
    <li>量子学；大气；激光 &amp; 传感器在 <a href="http://fa.wikipedia.org/wiki/%D8%B3%D8%A7%D8%B2%D9%85%D8%A7%D9%86_%D8%B5%D9%86%D8%A7%DB%8C%D8%B9_%D9%87%D9%88%D8%A7%DB%8C%DB%8C_%D8%A7%DB%8C%D8%B1%D8%A7%D9%86">航空工业, IR</a>, <code>GoLang</code>
        <ul>
            <li>模拟仿真：交互传感</li>
            <li>光学：量子激光研究</li>
            <li>大气模型: 大气研究</li>
        </ul>
    </li>
</ul>
