---
layout: default
active: blog
---

<!--Content-->
<div id="content" class="container-fluid container-fluid-fixed-width post">
	<div class="row section">
		<div class="col-xs-12 section-container">
                    <h2><a class="post-avatar" href="{{ page.url }}/"><img class="img-rounded" width="40" height="40" src="//www.gravatar.com/avatar/{{ page.hash }}?s=40&d=identicon&f=y" /></a>{{ page.header }}</h2>
			<div class="row companion">
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
			</div>

			{{ content }}

			<div class="row">
				<div class="col-xs-12">
					<span class="glyphicon glyphicon-time"></span> {{ page.date | date: "%A %B %-d, %Y" }}
				</div>
			</div>
			
		    <div id="disqus_thread"></div>
		    <script type="text/javascript">
			$('#disqus_container .comment').on('click',function(){
        $(this).html('加载中...');
        var disqus_shortname = 'indeex';
        var that = this;
        BYB.includeScript('http://' + disqus_shortname + '.disqus.com/embed.js',function(){$(that).remove()}); //这是一个加载js的函数
});
			</script>
			
		</div>
	</div>
</div>
